:root{
    --header-shift: 10em;
}
.container{
    max-width: 1200px;
    min-width: 1024px;
    margin: 0 auto;
    padding: 0 2em;
}

header{
    background: var(--c-header-bg) url("../public/images/header_bg.jpg") top center no-repeat / cover;
    padding-bottom: calc(5em + var(--header-shift));
    margin-bottom: calc(var(--header-shift) * -1);
    min-height: 400px;

}
header p, header h1{
    color: white
}
header p{
    line-height: 1.8;
}
.testblock{
    height: 20em;
    background: red;
}

footer{
    background: var(--c-header-bg);
    color: white;
    padding: 5em 0;
    margin-top: 5em;
}